# Godot-specific ignores
.import/
.export/
# *.import
export.cfg
export_presets.cfg
# project.godot
default_env.tres
# icon.png

# VSCode-specific ignores
.vscode/
/.godot
/addons/addon_toggler
/addons/explore-editor-theme
